@model List<Arac_Kirala.Models.Araclar>
<section class="ftco-section ftco-no-pt bg-light">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 heading-section text-center ftco-animate mb-5">
                <span class="subheading">Yeni Araç Filosu</span>
                <h2 class="mb-2">Günlük Kiralık Araçlar</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="carousel-car owl-carousel">
                 @foreach(var item in Model)
                    {
                      
                    
                    <div class="item">
                        <div class="car-wrap rounded ftco-animate">
                            <div class="img rounded d-flex align-items-end" style="background-image: url(../Arac_Resim/@item.Resim)">
                            </div>
                            <div class="text">
                                <h2 class="mb-0"><a href="#">@item.AracName</a></h2>
                                <div class="d-flex mb-3">
                                    <span class="cat">@item.ModellerId -- @item.MarkaId</span>
                                    <p class="price ml-auto">@item.Depozito <span>/day</span></p>
                                </div>
                                <p class="d-flex mb-0 d-block"><a href="#" class="btn btn-primary py-2 mr-1">Book now</a> <a asp-controller="Home" asp-action="Details" asp-route-id="@item.AracId" class="btn btn-secondary py-2 ml-1">Details</a></p>
                            </div>
                        </div>
                    </div>
                    }

                   
                    
                    
                </div>
            </div>
        </div>
    </div>
</section>